/Arbitro.class
/Calendario.class
/Campo.class
/Clasificacion.class
/Entrenador.class
/Equipo.class
/Horario.class
/Jornada.class
/Jugador.class
/Liga.class
/Partido.class
/Persona.class
/Principal.class
